<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Mohammad
      <span class="text-primary">Aminullah</span>
    </h1>
    <div class="subheading mb-5">Jl. Kayu Manis VII, Matraman, Jakarta Timur - DKI Jakarta ·
      <a href="mailto:name@email.com">mohaminullah91@gmail.com</a>
    </div>
    <p class="lead mb-5">I am experienced ERP system well-versed in Order Management, Procurement, Manufacture, and Finance Accounting modul. Develop application in according to company objectives.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/mohammad-aminullah-484134104/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/edository">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/edodudut">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/edo.dudut">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Senior Application Developer</h3>
        <div class="subheading mb-3">PT Intacsindo Business Solution</div>
        <p>Designed and develop application projects, supervised application testing, reviewed and analyzed test results, participated in project meetings with technical staff members, business analysts, and external stakeholders, designs new modules to improve system efficiency, and trained and mentored junior developers. Manage projects with 2 developers in team.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2014 - October 2018</span>
      </div>
    </div>
  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
  <div class="my-auto">
    <h2 class="mb-5">Projects</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Banteng Pratama Rubber</h3>
        <div class="subheading mb-3">Jakarta, Indonesia</div>
        <div>Tires and tubes for motorcycle manufacture</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><img src="<%= image_path 'img/bpr.png' %>"</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Karlita Emas</h3>
        <div class="subheading mb-3">Jakarta, Indonesia</div>
        <div>Steel grating and structure fabrication</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><img src="<%= image_path 'img/ke.png' %>"</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Balatif</h3>
        <div class="subheading mb-3">Malang, Indonesia</div>
        <div>Pharmacy manufacture</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><img src="<%= image_path 'img/balatif.jpeg' %>"</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Hydroraya Adhi Perkasa</h3>
        <div class="subheading mb-3">Tangerang, Indonesia</div>
        <div>Steel design and fabrication</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><img src="<%= image_path 'img/hap.jpeg' %>"</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Wanindo Prima</h3>
        <div class="subheading mb-3">Tangerang, Indonesia</div>
        <div>Exhibition stand design and construction</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><img src="<%= image_path 'img/wanindo.jpeg' %>"</span>
      </div>
    </div>

  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">AMIK Bina Sarana Informatika</h3>
        <div class="subheading mb-3">Jakarta, Indonesia</div>
        <div>Manajemen Informatika</div>
        <p>IPK: 3.66</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010 - 2013</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">SMA Tri Dharma</h3>
        <div class="subheading mb-3">Palembang, Indonesia</div>
        <p>IPA</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006 - 2009</span>
      </div>
    </div>

  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-database"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-php"></i>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-file-excel"></i>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-file-word"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        ERP system well-versed</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Application Development</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Cross Functional Teams</li>
    </ul>
  </div>
</section>